@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  a {
    @apply focus:outline-none;
  }

  html {
    @apply min-h-full h-full;
  }

  body {
    font-family: "Inter", sans-serif;
    @apply text-mineShaft min-h-full h-full;
  }

  #app {
    @apply flex min-h-full flex-col;
  }

  .hamburger-item,
  .hamburger-item::before,
  .hamburger-item::after {
    @apply !bg-mineShaft hover:!bg-mineShaft !select-none;
    border-radius: 0 !important;
    height: 2px !important;
  }

  @font-face {
    font-family: "Inter";
    src:
      url("./fonts/Inter-Bold.woff2") format("woff2"),
      url("./fonts/Inter-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src:
      url("./fonts/Inter-Black.woff2") format("woff2"),
      url("./fonts/Inter-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src:
      url("./fonts/Inter-Regular.woff2") format("woff2"),
      url("./fonts/Inter-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src:
      url("./fonts/Inter-Light.woff2") format("woff2"),
      url("./fonts/Inter-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src:
      url("./fonts/Inter-ExtraLight.woff2") format("woff2"),
      url("./fonts/Inter-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src:
      url("./fonts/Inter-Medium.woff2") format("woff2"),
      url("./fonts/Inter-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src:
      url("./fonts/Inter-ExtraBold.woff2") format("woff2"),
      url("./fonts/Inter-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src:
      url("./fonts/Inter-Thin.woff2") format("woff2"),
      url("./fonts/Inter-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src:
      url("./fonts/Inter-SemiBold.woff2") format("woff2"),
      url("./fonts/Inter-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
}

@font-face {
  font-family: "Publico Text Mono";
  src:
    local("Publico Text Mono"),
    url("./fonts/PublicoTextMono-Roman.woff2") format("woff2"),
    url("./fonts/PublicoTextMono-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.no-data-gradient {
  background-image: linear-gradient(
    45deg,
    #f4f3f2 25%,
    #f0efee 25%,
    #f0efee 50%,
    #f4f3f2 50%,
    #f4f3f2 75%,
    #f0efee 75%,
    #f0efee 100%
  );
  background-size: 56.57px 56.57px;
}
